<?xml version="1.0"?>
<config>
    <modules>
        <Quan_Helloworld>
            <version>1.0.0.0</version>
        </Quan_Helloworld>
    </modules>
    <frontend>
        <routers>
            <helloworld>
                <use>standard</use>
                <args>
                    <module>Quan_Helloworld</module>
                    <frontName>helloworld</frontName>
                </args>
            </helloworld>
        </routers>
        <layout>
            <updates>
                <quan_helloworld>
                    <file>helloworld.xml</file>
                </quan_helloworld>
            </updates>
        </layout>
    </frontend>
    <global>
        <blocks>
            <helloworld>
                <class>Quan_Helloworld_Block</class>
            </helloworld>
        </blocks>
        <models>
            <helloworld>
                <class>Quan_Helloworld_Model</class>
                <resourceModel>helloworld_mysql4</resourceModel>
            </helloworld>
            <helloworld_mysql4>
                <class>Quan_Helloworld_Model_Mysql4</class>
                <entities>
                    <training>
                        <table>training_magento</table>
                    </training>
                </entities>
            </helloworld_mysql4>
        </models>
        <helpers>
            <helloworld>
                <class>Quan_Helloworld_Helper</class>
            </helloworld>
        </helpers>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <quan_helloworld before="Mage_Adminhtml">Quan_Helloworld_Adminhtml</quan_helloworld>
                    </modules>
                </args>
            </adminhtml>
        </routers>
        <layout>
            <updates>
                <helloworld>
                    <file>helloworld.xml</file>
                </helloworld>
            </updates>
        </layout>
    </admin>
</config>